@import "../utils/variables.scss";

.container {
    display: flex;
    border-radius: 20px;
    background: $dgrad;
    box-shadow: $shadow;
    align-items: center;
    justify-content: center;
}
.contact__left {
    display: flex;
    flex-direction: column;
    &--title {
        font-family: $txt-body;
        font-size: 2rem;
        font-weight: 800;
    }
}
.categories {
    display: flex;
    p i {
        margin-left: 10px;
    }
}