// font-family: 'Merriweather', serif;
// font-family: 'Montserrat', sans-serif;

$txt-head: 'Merriweather', serif;
$txt-body: 'Montserrat', sans-serif;
$shadow: 5px 5px 20px #a3a2a2;
$dgrad: linear-gradient(180deg, #88bd24 0%, #118f03 100%);
